body {
    font-family: Arial, sans-serif;
    font-size: 19px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    font-size: 20px;
    background-color: #0b2144;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    background-color: #ccc;
    color: #0b2144;
    border-radius: 8px;
}

.logo img {
    width: 120px;
    height: 60px;
    object-fit: cover;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-container h2 {
    margin: 0 0 10px;
}

.content-container p {
    margin: 5px 0;
}

.media-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#map {
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.card video {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

button {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    padding: 1rem;
    background-color: white;
    color: #0b2144;
    border-radius: 40px;
    border: 4px solid #0b2144;
    margin-top: 20px;
}

button:hover {
    background-color: #0b2144;
    color: white;
}

footer {
    font-size: 16px;
    background-color: #0b2144;
    color: white;
    text-align: center;
    padding: 1.6rem;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #0b2144;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .media-container {
        flex-direction: column;
    }

    #map, .card video {
        width: 100%;
        height: 300px;
    }
}